exportClasses (mrp)
exportMethods (getNumberWays, setPopulation, getPopulation,
               setFormula, getFormula,
               mr, poststratify,
               getResponse, setPopulationOnes, getThetaHat,
               getEstimates, xval)
export (mrp)

importFrom("sp",panel.polygonsplot,spplot)
importFrom("grid",grid.polygon, gpar)
export(panel.polygonsplot)

exportClasses (NWayData)
exportMethods (getNumberWays,
               getYbarWeighted, getN,
               getNEffective,
               getDesignEffect)
#S3Method(is, NWayData)

#exportClasses (MrpVisualizer)
#exportMethods (visualize, placeMisc,
#               placeCharts, placeLabels,
#               prepareLayout, createMatForLayout)
#export (newMrpVisualizer)

#exportClasses (MrpStateVisualizer)
#exportMethods (setPlotFunction, setColorFunction,
#               createColorFunction, createStatemapsFunction)
#export (newMrpStateVisualizer)
