export(is.NWayData)
export(makePopulationArray)
export(mrp)
export(mrp.theme)
exportMethods(getData)
exportMethods(getEstimates)
exportMethods(getFormula)
exportMethods(getModel)
exportMethods(getNumberWays)
exportMethods(getOutcome)
exportMethods(getPopulation)
exportMethods(getResponse)
exportMethods(getThetaHat)
exportMethods(mr)
exportMethods(poststratify)
exportMethods(setFormula)
exportMethods(setPopulation)
exportMethods(show)
exportMethods(spplot)
exportMethods(xval)
import(grid)
import(lattice)
